<div class="masthead">
	<div class="pull-right">
		<ul class="nav nav-pills pull-left">
			<li {{#home}}class="active"{{/home}}><a href="/">Home</a></li>
			<li {{#about}}class="active"{{/about}}><a href="/about">About</a></li>
			<li {{#api}}class="active"{{/api}}><a href="/api">API</a></li>
		</ul>
		<div id="modal" class="modal fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="modal-label">Modal header</h3>
			</div>
			<div class="modal-body" id="modal-body">
				
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<h3 class="muted">qPaste</h3>
</div>
<hr>