<div class="masthead">
	<div class="pull-right">
		<ul class="nav nav-pills pull-left">
			<li {{#home}}class="active"{{/home}}><a href="/">Home</a></li>
			<li {{#about}}class="active"{{/about}}><a href="/about">About</a></li>
		</ul>
		<ul class="nav nav-pills pull-right account hidden-phone">
			<li class="dropdown {{#account}}active{{/account}}">
				<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">Account <b class="caret"></b> </a>
				<div id="acc-login" class="dropdown-menu right login">
					<div id="overlay" class="overlay hide"><div class="spinner"></div></div>
					<form id="login-form" onsubmit="account.login(); return false;">
						<fieldset>
							<legend>Login</legend>
							<div id="error" class="error"></div>
							<label>
								Username
								<input type="text" id="username">
							</label>
							<label>
								Password
								<input type="password" id="password">
							</label>
							<div class="pull-right">
								<a class="btn" href="">Register</a>
								<button type="submit" class="btn btn-success">Login</button>
							</div>
						</fieldset>
					</form>
				</div>
				<div id="acc-menu" class="dropdown-menu right menu">
					<div id="text-username" class="username"></div>
					<ul >
						<li><a href="/account#overview"><i class="icon-user"></i> Overview</a></li>
						<li><a href="/accoun#settings"><i class="icon-wrench"></i> Settings</a></li>
						<li><a href="/account#uploads"><i class="icon-upload"></i> Active Uploads</a></li>
						<li><a href="/account#wallet"><i class="icon-folder-close"></i> Wallet</a></li>
						<li class="divider"></li>
						<li><a href="#" onclick="account.logout(); return false;"><i class="icon-off"></i> Logout</a></li>
					</ul>
				</div>
				<!--<ul class="dropdown-menu" role="menu">
					<li><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
					<li class="divider"></li>
				</ul>-->
			</li>
		</ul>
		<div id="modal" class="modal fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="modal-label">Modal header</h3>
			</div>
			<div class="modal-body" id="modal-body">
				
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<h3 class="muted">qPaste</h3>
</div>
<hr>