<div class="masthead">
	<div class="pull-right">
		<ul class="nav nav-pills pull-left">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
		</ul>
		<ul class="nav nav-pills pull-right account hidden-phone">
			<li class="dropdown">
				<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">Account <b class="caret"></b> </a>
				<ul class="dropdown-menu" role="menu">
					<li><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
					<li class="divider"></li>
				</ul>
			</li>
		</ul>
	</div>
	<h3 class="muted">qPaste</h3>
</div>
<hr>