// Separate credentials for Amazon S3
// These are ignored by github

(function() {
	module.exports.accessKey = "ACCESS_KEY";
	module.exports.secretKey = "SECRET_KEY";
	module.exports.bucketName = "BUCKET NAME";
}());