<!DOCTYPE html>
<html>
	<head>
		<title>qPaste - {{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="title" content="{{strings.metatitle}}">
		<meta name="description" content="{{strings.description}}">
		<meta name="author" content="{{strings.author}}">
		<meta property="og:image" content="http://qpaste.it/img/upload-128px.png"/>

		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="/css/home-stylesheet.css" rel="stylesheet">
	</head>
	<div class="site-overlay"></div>
	<body>
		<div class="container">
			{{> masthead}}
			<div id="nav-fixed" class="navbar navbar-fixed hide">
				<div class="navbar-inner">
					<ul class="nav dynamic-nav">
						<li class="active"><a href="#overview"><i class="icon-user"></i> Overview</a></li>
						<li><a href="#settings"><i class="icon-wrench"></i> Settings</a></li>
						<li><a href="#uploads"><i class="icon-upload"></i> Active Uploads</a></li>
						<li><a href="#wallet"><i class="icon-folder-close"></i> Wallet</a></li>
					</ul>
					<ul class="nav pull-right">
						<li class="divider-vertical"></li>
						<li class="pull-right"><a href="#"><i class="icon-off"></i> Logout</a></li>
					</ul>
				</div>
			</div>
			<div id="nav-normal" class="navbar">
				<div class="navbar-inner">
					<ul class="nav dynamic-nav">
						<li class="active"><a href="#overview"><i class="icon-user"></i> Overview</a></li>
						<li><a href="#settings"><i class="icon-wrench"></i> Settings</a></li>
						<li><a href="#uploads"><i class="icon-upload"></i> Active Uploads</a></li>
						<li><a href="#wallet"><i class="icon-folder-close"></i> Wallet</a></li>
					</ul>
					<ul class="nav pull-right">
						<li class="divider-vertical"></li>
						<li class="pull-right"><a href="#"><i class="icon-off"></i> Logout</a></li>
					</ul>
				</div>
			</div>
			<div id="content" class="content-dynamic">
				<div id="content-overview">
					<h1>Overview</h1>
					<ul class="fields">
						<li>
							<img src="/img/user-128px.png">
							<h2 data-bind="text: user() ? user().username : ''"></h2>
							Member since: <span data-bind="text: creationDate"></span>
							<div class="clearfix"></div>
						</li>
					</ul>
				</div>

				<div id="content-settings">
					<h1>Settings</h1>
				</div>

				<div id="content-uploads">
					<h1>Uploads</h1>
				</div>

				<div id="content-wallet">
					<h1>Wallet</h1>
				</div>
			</div>
			{{> footer}}
		</div>

		<form id="upload-form" enctype="multipart/form-data" style="display:none;">
			<input type="file" name="file">

			<!-- <input type="text" name="key">
			<input type="text" name="AWSAccessKeyId">
			<input type="text" name="Policy">
			<input type="text" name="Signature">
			<input type="text" name="Bucket">
			<input type="text" name="acl">
			<input type="text" name="Content-Type">
			<input type="text" name="Content-Disposition"> -->
		</form>

		<form id="token-form" style="display:none;">
			<input type="text" value="" name="mime">
			<input type="text" value="" name="filename">
		</form>

		{{> jsimports}}
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
		<script type="text/javascript" src="/js/jquery.ba-hashchange.min.js"></script>
		<script type="text/javascript">
			var Application = function () {
				var self = this;
				this.user = ko.observable();

				this.creationDate = ko.computed(function () {
					return self.user() ? new Date(self.user().creationDate).toString() : '';
				});
			};

			var app = new Application();
			ko.applyBindings(app);
			account.onUpdate(function (user) { app.user(user); });

			//Hash-based url navigation
			(function() {
				var reset = function () {
					$('#content').children().hide();
					$('.dynamic-nav li').removeClass('active');
				};

				var show = function (url) {
					$('#content-' + url).show();
					makeActive(url);
				};

				var makeActive = function (url) {
					$('.dynamic-nav a[href="#' + url + '"]').parent().addClass('active');
				};

				// Bind an event handler.
				$(window).hashchange(function(e) {
					reset();
					var url = location.hash.replace('#', '');
					switch (url) {
						case '':
						case 'overview':
							show('overview');
							break;
						case 'settings':
						case 'uploads':
						case 'wallet':
							show(url);
							break;
					}
				});

				// Manually trigger the event handler.
				$(window).hashchange();
			})();

			//Menu bar follow scroll script
			(function() {
				var pos = $('#nav-normal').position();
				$('#nav-fixed').css('width', $('#nav-normal').width());
				$(document).scroll(function(data) {
					if ($('#nav-fixed').hasClass('hide')) {
						if ($(document).scrollTop() > pos.top + 1) {
							$('#nav-fixed').removeClass('hide');
						}
					} else {
						if ($(document).scrollTop() < pos.top + 1) {
							//$('.navbar').css('left', $(this).position().left + "px");
							$('#nav-fixed').addClass('hide');
						}
					}
				});
			})();
		</script>
	</body>
</html>