<!DOCTYPE html>
<html>
<head>
	<title>qPaste - {{title}}</title>
	<style type="text/css">html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
	.smooth_zoom_preloader {
		background-image: url(/img/zoom-preloader.gif);
	}	
	.smooth_zoom_icons {
		background-image: url(/img/zoom-icons.png);
	}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link href="/css/bootstrap-switch.min.css" rel="stylesheet">
	<link href="/css/stylesheet.css" rel="stylesheet">
</head>
<body>
	<div id="preloadedImages"></div>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">qPaste</a>
				<div class="time">Available for another <span id="countdown">{{time}}</span></div>
				<div class="nav-collapse collapse sidemenu">
					<ul class="nav" id="options">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Menu
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#shortLinkModal" role="button" id="linkcreate" data-toggle="modal">Generate short link</a></li>
								<li><a href="#qrModal" role="button" id="qrcreate" data-toggle="modal">Generate QR code</a></li>
								<li class="divider"></li>
								<li id="saveas" style="display:none"><a href="{{link}}">Save as</a></li>
								{{#owner}}
								<li id="delete" class="danger"><a href="#deleteModal" data-toggle="modal">Delete</a></li>
								{{/owner}}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="top-push"></div>
	<div class="navbar navbar-static-top" id="submenu" style="display:none">
		<div class="navbar-inner">
			<div class="container">
				<span class="text">In-browser executable options</span>
				<ul class="live-options">
					<li>
						<span class="label">Live mode</span>
						<input type="checkbox" class="switch switch-mini" id="live-mode-switch" name="live-mode">
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="" id="content" style="display: none;">
		<div class="container" id="content">
			<div class="row">
				<div class="span8 offset2 wait">
					<h1>Please wait...</h1>
					<p>
						We are loading your file...
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="full-size with-submenu" id="live-content" style="display: none;"></div>
	<div class="container" id="wait-content" style="display: none;">
		<div class="row">
			<div class="span8 offset2 wait">
				<div class="icon"></div>
				<h1>File not uploaded yet</h1>
				<p>
					We are sorry but this file is still uploadig.<br>
					Hang in there and we'll update this page as soon as the file is ready!
				</p>
				<p>
					<label class="checkbox" style="display:none;">
					 	<input id="alert-checkbox" type="checkbox" checked="yes">
						Alert me when the file is ready
					</label>
				</p>
			</div>
		</div>
	</div>
	<script src="/js/jquery-1.9.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-switch.min.js"></script>
	<script src="/js/jstorage.js"></script>
	<!--<script src="/js/viewport-fix.js"></script> Didn't really make anything better on WP-->
	<script type="text/javascript">
	var timestamp = {{timestamp}};
	var countdown = window.setInterval(function () {
		timestamp -= 1000;
		timetext = timeleft(timestamp);
		if (timetext == '0m 0s') {
			window.clearInterval(countdown);
			$('.time').text('No longer available');
		} else {
			$('#countdown').text(timetext);
		}
	}, 1000);

	var available = {{available}};
	var uid = '{{uid}}';
	var sound = new Audio('');
	var contentData;

	jQuery(function($){
		if (available) {
			$('#wait-content').hide();
			$('#content').show();
			loadContent(false);
		} else {
			$('#wait-content').show();
			$('#content').hide();
			loadContent(true);
		}

		$(".switch").bootstrapSwitch();

		$('#live-mode-switch').on('switch-change', function (e, data) {
			if (data.value) {
				//ON
				$("#content").hide();
				$("#live-content").html('<iframe id="live-iframe" class="embedded"></iframe>');
				$("#live-iframe")[0].contentWindow.document.write(contentData);
				$("#live-content").show();
			} else {
				//OFF
				$("#live-content").hide();
				$("#live-content").html("");
				$("#content").show();
			}
		});

		if (window.HTMLAudioElement) {
			$('.checkbox').show();
			$('#alert-checkbox').prop("checked", $.jStorage.get('alert', 'true'));
			$('#alert-checkbox').click(function() {
				$.jStorage.set('alert', $('#alert-checkbox').prop("checked"));
			});

			if(sound.canPlayType('audio/ogg')) {
				sound = new Audio('/sounds/alert.ogg');
			} else if (sound.canPlayType('audio/mp3')) {
				sound = new Audio('/sounds/alert.mp3');
			}
		} else {
			$.jStorage.set('alert', 'false');
		}

		/*$("#shortcreate").submit(function(event) {
			//wanted this, but doesn't work in IE
		});*/
	});

	function createShort() {
		$('#shortLinkModal .alert-error').hide();
		$('#shortLinkModal form').children().each(function(index, element) {
			$(element).attr("disabled", "disabled");
		});

		$.ajax({
			type: 'POST',
			url: '/create-short',
			data: {
				token: "{{uid}}",
				sid: $('#shortLinkModal input[type="text"]').val()
			}
		}).done(function(data) {
			var lDiv = $('#shortLinkModal #short-link');
			$(lDiv).attr("href", data.link);
			$(lDiv).text(data.link);
			$(lDiv).show();
		}).fail(function(jqXHR, textStatus, errorThrown) {
			$('#shortLinkModal #error').text(" " + jqXHR.responseText);
			$('#shortLinkModal .alert-error').show();
		}).always(function() {
			$('#shortLinkModal form').children().each(function(index, element) {
				$(element).removeAttr("disabled");
			});
		});

		event.cancelBubble = true;
		event.returnValue = false;
		event.preventDefault();
		return false;
	}

	function loadContent(alert) {
		$.get('/content/' + uid).done(function (data) {
			$('#content').html(data);
			$('#wait-content').hide();
			$('#content').show();

			if (alert) {
				alertSound();
			}
		}).fail(function () {
			//Retry
			loadContent(alert);
		});
	}

	function removeFile() {
		$('#deleteModal .btn-danger').button('loading');

		$.ajax({
			type: 'get',
			url: '/delete/{{uid}}'
		}).done(function(data) {
			window.location = "/";
		}).fail(function(jqXHR, textStatus, errorThrown) {
			$('#deleteModal #error').text(" " + jqXHR.responseText);
			$('#deleteModal .alert-error').show();
			$('#deleteModal .btn-danger').button('reset');
		});
	}

	function alertSound() {
		if ($.jStorage.get('alert')) {
			sound.play();
		}
	}

	function timeleft(diff) {
		days  = Math.floor( diff / (1000*60*60*24) );
		hours = Math.floor( diff / (1000*60*60) );
		mins  = Math.floor( diff / (1000*60) );
		secs  = Math.floor( diff / 1000 );

		dd = days;
		hh = hours - days  * 24;
		mm = mins  - hours * 60;
		ss = secs  - mins  * 60;

		return hh + "h " + mm + "m " + ss + "s";
	}
	</script>

	<div id="shortLinkModal" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Generate short link</h3>
		</div>
		<div class="modal-body">
			<p>
				Choose short handle<br>
				<div class="alert alert-error" style="display: none"><strong>Error</strong><span id="error"></span></div>
			</p>
			<form class="form-inline" id="shortcreate" onsubmit="createShort(); return false;">
				<input type="text" placeholder="">
				<button type="submit" class="btn">Create</button>
				<div class="big-link">
					<a id="short-link" href="#" style="display:none"></a>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn">Close</a>
		</div>
	</div>

	<div id="qrModal" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Generate QR code</h3>
		</div>
		<div class="modal-body">
			<img class="qr" src="https://api.qrserver.com/v1/create-qr-code/?size=250x250&data={{page}}">
		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn">Close</a>
		</div>
	</div>

	<div id="deleteModal" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Delete file</h3>
		</div>
		<div class="modal-body">
			<div class="alert alert-error" style="display: none"><strong>Error</strong><span id="error"></span></div>
			Are you sure you want to <strong>delete</strong> this file?<br>
			This is action is irreverisble and you will not be able to restore your file!
		</div>
		<div class="modal-footer">
			<a href="#" data-dismiss="modal" class="btn">Close</a>
			<button type="button" class="btn btn-danger" onclick="removeFile();" data-loading-text="Deleting...">Delete</button>
		</div>
	</div>
</body>
</html>