<!DOCTYPE html>
<html>
	<head>
		<title>qPaste - {{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="title" content="{{strings.metatitle}}">
		<meta name="description" content="{{strings.description}}">
		<meta name="author" content="{{strings.author}}">
		<meta property="og:image" content="http://qpaste.it/img/upload-128px.png"/>
		<link href="/css/home.css" rel="stylesheet">
		<!-- Only used for debugging
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/home-stylesheet.css" rel="stylesheet">
		-->
	</head>
	<body>
		<div class="site-overlay">
			<p>Drop files anywhere to upload.</p>
		</div>
		<div class="container">
			{{> masthead}}
			<div class="row">
				<div class="col-xs-12">
					<div class="main-view" id="default">
						<div class="logo">
							<img src="/img/upload-128px.png">
						</div>
						<div class="content">
							<h1>Instant Cloud Sharing</h1>
							<p class="lead">Upload and share any file using the fast and reliable online cloud.<br>Download the desktop client to upload any clipboard data.<br>Everything completely free, and fast as a whistle.</p>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="choices-view">
				<a class="btn btn-lg btn-success" href="#" data-view-target="FileUpload" data-bind="click: uploads().length == 0 ? pickFile : changeView" title="Filesize limit: {{globals.limit}}MB">Upload files</a>
				<a class="btn btn-lg btn-success" href="#" data-view-target="TextUpload" data-bind="click: changeView">Paste text</a>
				<!--<a class="btn btn-lg btn-default hidden-phone" href="http://download.qpaste.it/clients/windows/setup.exe">Download for Windows</a>-->
			</div>
			<div class="upload-view" data-bind="visible: currentView() != Views.None">
				<hr>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div id="upload-files" data-bind="visible: currentView() == Views.FileUpload">
							<h1>Upload files</h1>
							<div data-bind="foreach: uploads">
								<div class="upload">
								<!--<div class="upload">-->
									<h2 data-bind="text: status"></h2>
									<div class="input-group">
										<div class="input-group-addon">Link</div>
										<input type="text" class="form-control" onclick="this.select()" data-bind="attr: { value: token }">
										<span class="input-group-btn">
											<!-- ko if: $root.hasFlash() -->
												<a href="#" class="btn btn-default copy" data-copy-link="" data-bind="attr: { 'data-copy-link': token }">Copy</a>
											<!-- /ko -->
											<div class="tooltip top static visible-xs-block" role="tooltip" style="top: -30px; right: 0;">
												<div class="tooltip-arrow" style="left: 75%;"></div>
												<div class="tooltip-inner">
													Touch and hold to copy!
												</div>
											</div>
											<a href="#" target="_blank" class="btn btn-default last" data-bind="css: { disabled: progress() != 100 } , attr: { href: token }">View →</a>
										</span>
									</div>
									<h3><span data-bind="text: files.length"></span> file(s)</h3>
									<div data-bind="foreach: files">
										<div class="file">
											<div class="row">
												<span class="filename col-xs-9 col-sm-10" data-bind="text: filename"></span>
												<span class="filesize col-xs-3 col-sm-2" data-bind="text: readableSize"></span>
											</div>
											<div class="file-progress" data-bind="style: { width: progress() + '%' }"></div>
										</div>
									</div>
									<div class="progress">
										<div class="progress-bar" data-bind="style: { width: progress() + '%' }, css: { 'progress-bar-success': progress() == 100 }">
										</div>
									</div>
								</div>
							</div>
							<a class="btn btn-lg btn-success pull-right" data-bind="click: pickFile"><span class="glyphicon glyphicon-add"></span> Upload another file</a>
						</div>

						<div id="paste-text" data-bind="visible: currentView() == Views.TextUpload">
							<a class="btn btn-lg btn-success pull-right" data-bind="click: uploadText"><span class="glyphicon glyphicon-upload"></span> Upload</a>
							<h1>Paste text</h1>
							<textarea id="text" rows="10"></textarea>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row marketing">
				<div class="col-sm-4">
					<img src="/img/s3-64px.png">
					<h4>Amazon S3</h4>
					<p>Share your data using one of the biggest cloud storage services, fast and secure. All files are stored and kept online for up to 24 hours, then automatically deleted.</p>
				</div>

				<div class="col-sm-4">
					<img src="/img/opensource-64px.png">
					<h4>Open source</h4>
					<p>We use Github for keeping the source public for anyone that would want to contribute. If there is anything you are curious about go ahead check it out! <a href="https://github.com/andenq/Server-qPaste">Github page &rarr;</a></p>
				</div>

				<div class="col-sm-4">
					<img src="/img/desktop-64px.png">
					<h4>Desktop sharing</h4>
					<p>Download the qPaste client for Windows Desktop. Upload any file you want by copying it (or printscreening) and then pressing <span class="label label-default">Ctrl + Shift + V</span> to instantly paste a link to whatever is in your clipboard. The upload is done in the background. <a href="http://download.qpaste.it/clients/windows/setup.exe">Download &rarr;</a></p>
				</div>
			</div>
			{{> footer}}
		</div>

		<form id="upload-form" enctype="multipart/form-data" style="display:none;">
			<input type="file" name="file" multiple="multiple">

			<!-- <input type="text" name="key">
			<input type="text" name="AWSAccessKeyId">
			<input type="text" name="Policy">
			<input type="text" name="Signature">
			<input type="text" name="Bucket">
			<input type="text" name="acl">
			<input type="text" name="Content-Type">
			<input type="text" name="Content-Disposition"> -->
		</form>

		<form id="token-form" style="display:none;">
			<input type="text" value="" name="mime">
			<input type="text" value="" name="filename">
		</form>

		<script src="/js/home.js"></script>
		<!--
		{{> jsimports}}
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
		<script type="text/javascript" src="/js/jquery.zclip.min.js"></script>
		<script type="text/javascript" src="/js/zip/zip.js"></script>
		-->
		<script type="text/javascript">
			//Piwik tracking
			var _paq = _paq || [];
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
			var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.andreascoroiu.com/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', 3]);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
			g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<noscript><p><img src="http://analytics.andreascoroiu.com/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>

	</body>
</html>