<!DOCTYPE html>
<html>
	<head>
		<title>qPaste - {{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="title" content="{{strings.metatitle}}">
		<meta name="description" content="{{strings.description}}">
		<meta name="author" content="{{strings.author}}">
		<meta property="og:image" content="http://qpaste.it/img/upload-128px.png"/>

		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/home-stylesheet.css" rel="stylesheet">
	</head>
	<body>
		<div class="site-overlay"></div>
		<div class="container">
			{{> masthead}}
			<div class="row">
				<div class="col-xs-12">
					<div class="main-view" id="default">
						<div class="logo">
							<img src="/img/upload-128px.png">
						</div>
						<div class="content">
							<h1>Instant Cloud Sharing</h1>
							<p class="lead">Upload and share any file using the fast and reliable online cloud.<br>Download the desktop client to upload any clipboard data.<br>Everything completely free, and fast as a whistle.</p>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="choices-view">
				<a class="btn btn-lg btn-success" href="#" data-view-target="FileUpload" data-bind="click: uploads().length == 0 ? pickFile : changeView" title="Filesize limit: {{globals.limit}}MB">Upload files</a>
				<a class="btn btn-lg btn-success" href="#" data-view-target="TextUpload" data-bind="click: changeView">Paste text</a>
				<!--<a class="btn btn-lg btn-default hidden-phone" href="http://download.qpaste.it/clients/windows/setup.exe">Download for Windows</a>-->
			</div>
			<div class="upload-view" data-bind="visible: currentView() != Views.None">
				<hr>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<div id="upload-files" data-bind="visible: currentView() == Views.FileUpload">
							<h1>Upload files</h1>
							<div data-bind="foreach: uploads">
								<div class="upload">
								<!--<div class="upload">-->
									<h2 data-bind="text: status"></h2>
									<div class="input-group">
										<div class="input-group-addon">Link</div>
										<input type="text" class="form-control" onclick="this.select()" data-bind="attr: { value: token }">
										<span class="input-group-btn">
											<!-- ko if: $root.hasFlash() -->
												<a href="#" class="btn btn-default copy" data-copy-link="" data-bind="attr: { 'data-copy-link': token }">Copy</a>
											<!-- /ko -->
											<div class="tooltip top static visible-xs-block" role="tooltip" style="top: -30px; right: 0;">
												<div class="tooltip-arrow" style="left: 75%;"></div>
												<div class="tooltip-inner">
													Touch and hold to copy!
												</div>
											</div>
											<a href="#" target="_blank" class="btn btn-default last" data-bind="css: { disabled: progress() != 100 } , attr: { href: token }">View →</a>
										</span>
									</div>
									<h3><span data-bind="text: files.length"></span> file(s)</h3>
									<div data-bind="foreach: files">
										<div class="file">
											<div class="row">
												<span class="filename col-xs-9 col-sm-10" data-bind="text: filename"></span>
												<span class="filesize col-xs-3 col-sm-2" data-bind="text: readableSize"></span>
											</div>
											<div class="file-progress" data-bind="style: { width: progress() + '%' }"></div>
										</div>
									</div>
									<div class="progress">
										<div class="progress-bar" data-bind="style: { width: progress() + '%' }, css: { 'progress-bar-success': progress() == 100 }">
										</div>
									</div>
								</div>
							</div>
							<a class="btn btn-lg btn-success pull-right" data-bind="click: pickFile"><span class="glyphicon glyphicon-add"></span> Upload another file</a>
						</div>

						<div id="paste-text" data-bind="visible: currentView() == Views.TextUpload">
							<a class="btn btn-lg btn-success pull-right" data-bind="click: uploadText"><span class="glyphicon glyphicon-upload"></span> Upload</a>
							<h1>Paste text</h1>
							<textarea id="text" rows="10"></textarea>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row marketing">
				<div class="col-sm-4">
					<img src="/img/s3-64px.png">
					<h4>Amazon S3</h4>
					<p>Share your data using one of the biggest cloud storage services, fast and secure. All files are stored and kept online for up to 24 hours, then automatically deleted.</p>
				</div>

				<div class="col-sm-4">
					<img src="/img/opensource-64px.png">
					<h4>Open source</h4>
					<p>We use Github for keeping the source public for anyone that would want to contribute. If there is anything you are curious about go ahead check it out! <a href="https://github.com/andenq/Server-qPaste">Github page &rarr;</a></p>
				</div>

				<div class="col-sm-4">
					<img src="/img/desktop-64px.png">
					<h4>Desktop sharing</h4>
					<p>Download the qPaste client for Windows Desktop. Upload any file you want by copying it (or printscreening) and then pressing <span class="label label-default">Ctrl + Shift + V</span> to instantly paste a link to whatever is in your clipboard. The upload is done in the background. <a href="http://download.qpaste.it/clients/windows/setup.exe">Download &rarr;</a></p>
				</div>
			</div>
			{{> footer}}
		</div>

		<form id="upload-form" enctype="multipart/form-data" style="display:none;">
			<input type="file" name="file" multiple="multiple">

			<!-- <input type="text" name="key">
			<input type="text" name="AWSAccessKeyId">
			<input type="text" name="Policy">
			<input type="text" name="Signature">
			<input type="text" name="Bucket">
			<input type="text" name="acl">
			<input type="text" name="Content-Type">
			<input type="text" name="Content-Disposition"> -->
		</form>

		<form id="token-form" style="display:none;">
			<input type="text" value="" name="mime">
			<input type="text" value="" name="filename">
		</form>

		{{> jsimports}}
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
		<script src="/js/jquery.ui.widget.js"></script>
		<script src="/js/jquery.fileupload.js"></script>
		<script type="text/javascript" src="/js/jquery.zclip.min.js"></script>
		<script type="text/javascript" src="/js/zip/zip.js"></script>
		<script type="text/javascript">
			var Views = {
				'None': 			0,
				'FileUpload': 		1,
				'TextUpload': 		2,
				'TextUploadDone':	3
			};

			var Application = new (function () {
				var self = this;
				fadetime = 150;
				uploading = false;
				
				self.uploads = ko.observableArray();
				self.currentView = ko.observable(Views.None);
				//self.currentView = ko.observable(Views.FileUpload);

				var getElementViewTarget = function (element) {
					return Views[$(element).attr('data-view-target')];
				}
				
				self.changeView = function (data, event, view) {
					if (!view) {
						view = getElementViewTarget(event.target);
						$(event.target).addClass('active');
						$(event.target).siblings().removeClass('active');
					}

					self.currentView(view);
				}

				self.hasFlash = function() {
					try {
						return (typeof navigator.plugins == "undefined" || navigator.plugins.length == 0) ? !!(new ActiveXObject("ShockwaveFlash.ShockwaveFlash")) : navigator.plugins["Shockwave Flash"];
					} catch (ex) {
						return false;
					}
				}

				self.pickFile = function () {
					var input = $('#upload-form input[type=file]');
					input.replaceWith( input = input.clone( true ) );
					input.click();
				}

				self.uploadText = function () {
					var blob = new Blob([ $('textarea#text').val() ], {
						type : 'text/plain'
					});
					blob.name = 'qpaste.txt';
					self.newUpload([blob]);
					self.currentView(Views.FileUpload);
				}

				self.newUpload = function (files) {
					var upload = new qpaste.Upload(files);
					self.uploads.push(upload);

					upload.startUpload().done(function () {

					}).fail(function () {

					}).progress(function() {
						console.log("progress");
					});
				}

			})();

			var qpaste = {};

			qpaste.File = function (file) {
				var self = this;

				self.progress = ko.observable(0);
				self.filename = file.name;
				self.size = ko.observable(file.size);
				self.mime = file.type;
				self.file = file;

				self.readableSize = ko.computed(function () {
					var i = Math.floor(Math.log(self.size()) / Math.log(1024));
					return (self.size() / Math.pow(1024, i)).toFixed(2) * 1 + ' '+['b', 'kb', 'mb', 'gb', 'tb'][i];
				});

				self.compress = function (zipWriter, callback) {
					zipWriter.add(self.filename, new zip.BlobReader(self.file), function() {
						self.progress(100);
						callback();
					}, function (progress) {
						var percent = progress / self.size();
						self.progress(percent * 100);
					});
				}
			}

			qpaste.Upload = function (files) {
				var self = this;

				self.progress = ko.observable(0);
				self.status = ko.observable('Getting link...');
				self.files = [];
				self.token = ko.observable();

				for (var i = 0; i < files.length; i++) {
					self.files.push(new qpaste.File(files[i]));
				}

				//Callback = function (zipped_blob) { ... }
				self.compressFiles = function (callback) {
					self.status("Compressing files...");
					zip.createWriter(new zip.BlobWriter("application/zip"), function(zipWriter) {
						function nextFile(index, done) {
							self.files[index].compress(zipWriter, function () {
								if (++index < self.files.length) {
									nextFile(index, done);
								} else {
									done();
								}
							});
						}
						nextFile(0, function () {
							zipWriter.close(callback);
						});
					}, function (error) {
						alert('Error occurred when compressing: ' + error.toString());
					});
				}

				//Does everything regarding uploads
				self.startUpload = function () {
					var deferred = $.Deferred();

					if (files.length == 1) {
						var file = files[0];
						$('#token-form input[name="filename"]').val(file.name);
						$('#token-form input[name="mime"]').val((file.type === '' ? 'application/octet-stream' : file.type));
					} else {
						$('#token-form input[name="filename"]').val('qpaste.zip');
						$('#token-form input[name="mime"]').val('application/zip');
					}

					$.ajax({
						type: 'POST',
						url: '/upload-token',
						data: $('#token-form').serialize()
					}).done(function(data) {
						self.token(data.link);

						if (Application.hasFlash()) {
							var copyBtn = $('.copy[data-copy-link="'+ self.token() +'"]');
							copyBtn.zclip({
								path: '/swf/ZeroClipboard.swf',
								copy: self.token(),
								afterCopy:function(){
									copyBtn.addClass('btn-success');
									copyBtn.html('<span class="glyphicon glyphicon-ok"></span> Copied');
								}
							}).show();	
						}

						if (files.length == 1) {
							self.files[0].progress(100);
							self.doUpload(data, self.files[0].file);
						} else {
							self.compressFiles(function (zippedBlob) {
								zippedBlob.name = 'qpaste.zip';
								self.doUpload(data, zippedBlob);
							});
						}
					});

					return deferred.promise();
				};

				//Does the actual upload of one file
				self.doUpload = function (data, file) {
					self.status("Uploading...");
					var fd = new FormData();

					fd.append('key', data.storage.s3Policy.conditions.key);
					fd.append('AWSAccessKeyId', data.storage.s3Key);
					fd.append('Policy', data.storage.s3PolicyBase64);
					fd.append('Signature', data.storage.s3Signature);
					fd.append('Bucket', data.storage.s3Policy.conditions.bucket);
					fd.append('acl', data.storage.s3Policy.conditions.acl);
					fd.append('Content-Type', data.storage.s3Policy.conditions.mime);
					fd.append('Content-Disposition', data.storage.s3Policy.conditions.disposition);

					fd.append("file", file);
					var xhr = $.ajaxSettings.xhr();

					xhr.upload.addEventListener("progress", function (e) {
						if(e.lengthComputable) {
							self.progress(Math.round((e.loaded/e.total) * 100) * 0.95);
						}
					}, false);
					xhr.addEventListener("load", function (e) {
						$.ajax({
							type: 'POST',
							url: '/upload-done',
							data: {token: data.token},
							complete: function () {
								self.status("Done!");
								self.progress(100);
							}
						})
					}, false);

					xhr.open('POST', 'http://qpaste.s3.amazonaws.com/', true); //MUST BE LAST LINE BEFORE YOU SEND 
					xhr.send(fd);
				}
			};

			ko.applyBindings(Application);
			
			zip.workerScriptsPath = "/js/zip/";
			$.event.props.push('dataTransfer');

			$('body')
			.bind('dragenter', Application.dragEnter)
			.bind('dragleave', Application.dragEnd)
			.bind("dragover", Application.browserIgnoreDrag)
			.bind('drop', Application.drop);

			$('#upload-form input[type="file"]').change(function() {
				if($(this).val() !== "") {
					Application.newUpload($(this).prop('files'));
					Application.changeView(null, null, Views.FileUpload);
				}
			});

			if (!Application.hasFlash()) {
				$('#copy').hide();
			}

			//Tab functionality
			$("textarea").keydown(function(e) {
				var $this, end, start;
				if (e.keyCode === 9) {
					start = this.selectionStart;
					end = this.selectionEnd;
					$this = $(this);
					$this.val($this.val().substring(0, start) + "\t" + $this.val().substring(end));
					this.selectionStart = this.selectionEnd = start + 1;
					return false;
				}
			});
		</script>
	</body>
</html>