body {
	padding-top: 20px;
	padding-bottom: 40px;
}

/* Default bootstrap
 * For some reason this is lost and inputs look wierd
 * 
 * FIXED, forgot html5 doctype
 */
/*input[type="text"], input[type="password"] {
	padding: 14px 4px;
}*/

.hide {
	display: none !important;
}

.muted a {
	color: #BBB;
	text-decoration: none;
}

.muted a:hover {
	color: #999;
}

.masthead .account {
	border-left: 1px solid #eee;
	padding-left: 2px;
}

.dropdown .right {
	left: auto;
	right: 0;
}

.dropdown .right::before {
	left: auto !important;
	right: 9px;
}

.dropdown .right::after {
	left: auto !important;
	right: 10px;
}

.dropdown .login {
	padding: 0 10px;
}

.dropdown .login .overlay {
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
}

.dropdown .login .overlay .spinner {
	background: url(/img/zoom-preloader.gif);
	position: absolute;
	width: 24px;
	height: 24px;
	right: 50%;
	bottom: 50%;
	margin: 0 -12px -12px 0;
}

.dropdown .menu ul {
	list-style: none;
	margin: 0;
}

.dropdown .menu .username {
	font-size: 12pt;
	font-weight: bold;
	border-bottom: 1px solid #eee;
	padding: 5px 10px 10px 15px;
	margin-bottom: 5px;
}

.navbar-fixed {
	position: fixed;
	top: -1px;
	z-index: 99;
}

.navbar-fixed .navbar-inner {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.site-overlay {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.1);
}

.container > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	position: relative;
}

.jumbotron .view {
	position: relative;
	top: 0;
	left: 0;
}

.jumbotron .overlay {
	display: none;
	position: absolute;
	z-index: 200;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	background: rgba(255, 255, 255, .95);
	border: dashed #333;
	border-width: 2px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.jumbotron .center-wrapper {
	width: 100%;
	height: 100%;
	text-align: center;
}

.jumbotron .center-wrapper:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.jumbotron .center-wrapper .content {
	display: inline-block;
	vertical-align: middle;
}

.jumbotron #default {
	padding: 60px 0;
}

.jumbotron #default h1 {
	font-size: 72px;
	line-height: 1;
}

.jumbotron #default .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.jumbotron #default .icon {
	width: 128px;
	height: 128px;
	background: url(/img/upload-128px.png);
	float: left;
}

.jumbotron #default .content {
	margin-left: 128px;
	padding-left: 20px;
}

.jumbotron #drop {
	
}

.jumbotron #drop .content {
	font-size: 72px;
	line-height: 1;
}

.jumbotron #upload {
	display: none;	
}

.jumbotron #upload .link {
	float: left;

	background-color: #ffffff;
	border: 1px solid #cccccc;

	display: inline-block;
	/*height: 20px;*/
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.jumbotron #upload #copy {
	margin-left: -5px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
	text-align: center;
}

.marketing p + h4 {
	margin-top: 28px;
}

.marketing p {
	text-align: left;
}

.marketing img {
	display: block;
	width: 64px;
	margin: auto;
}

.api-doc {
	padding: 0 10px;
}

.api-doc h3 .return:before {
	content: " : ";
}

.api-doc h3 .return {
	color: gray;
}

.params li {
	margin-bottom: 20px;
}

.api-doc .error-list {
	list-style: none;
}

.api-doc .error-list li {
	margin-bottom: 10px;
}

.api-doc .error-list .code {
	font-weight: bold;
}

.api-doc .error-list .code:after {
	content: ": ";
}

.flow {
	/*text-align: center;*/
}

/* ARROWS */
.arrow-n,
.arrow-e,
.arrow-s,
.arrow-w {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 25px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-n {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #666;
  bottom: 0.25em;
}

.arrow-e {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #666;
  left: 0.25em;
}
                    
.arrow-s {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
  top: 0.25em;
}

.arrow-w {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
  right: 0.25em;
}


@media (max-width: 767px) { 
	.jumbotron #default .content {
		margin-left: 0;
		padding-left: 0;
		text-align: center;
	}

	.jumbotron #default h1 {
		font-size: 40px;
		line-height: 1;
	}

	.jumbotron #default .icon {
		float: none;
		display: block;
		margin: auto;
	}

	.jumbotron #drop .content {
		font-size: 40px;
		line-height: 1;
	}

	.jumbotron #default .btn {
		margin: 10px;
	}
}
