body {
	padding-top: 20px;
	padding-bottom: 40px;
}

.hide {
	display: none !important;
}

.muted {
	color: #BBB;
	text-decoration: none;
}

.tooltip.static {
	opacity: 1;
}

.relative {
	position: relative;
}

.masthead .trademark {
	height: 40px;
	line-height: 40px;
}

.navbar-fixed {
	position: fixed;
	top: -1px;
	z-index: 99;
}

.navbar-fixed .navbar-inner {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.site-overlay {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.1);
}

.container > hr {
	margin: 30px 0;
}

/* Main view */
.main-view > .logo {
	width: 128px;
	display: block;
	margin: auto;
}

.main-view > .content {
	font-weight: bold;
}

.main-view > .content > h1 {
	font-size: 40px;
	font-weight: bold;
}

/* Buttons (choices) view */
.choices-view {
	/*text-align: center;*/
}

.upload-view #paste-text textarea {
	font-family: monospace;
	width: 100%;
	overflow: auto;
}

.upload-view #upload-files .upload {
	/*background: whitesmoke;*/
}

.upload-view #upload-files .upload .file {
	background: whitesmoke;
	position: relative;
	overflow: none;
	padding: 10px 20px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.upload-view #upload-files .upload a.last {
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}

.upload-view #upload-files .upload .file > .file-progress {
	background: #CBF2D1;
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
}

.upload-view #upload-files .upload .file span {
	position: relative;
	z-index: 100;
}

.upload-view #upload-files .upload .file .filename {
	font-weight: bold;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.upload-view #upload-files .upload .file .filesize {
	text-align: right;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
	text-align: center;
}

.marketing p + h4 {
	margin-top: 28px;
}

.marketing p {
	text-align: left;
}

.marketing img {
	display: block;
	width: 64px;
	margin: auto;
}

.api-doc {
	padding: 0 10px;
}

.api-doc h3 .return:before {
	content: " : ";
}

.api-doc h3 .return {
	color: gray;
}

.params li {
	margin-bottom: 20px;
}

.api-doc .error-list {
	list-style: none;
}

.api-doc .error-list li {
	margin-bottom: 10px;
}

.api-doc .error-list .code {
	font-weight: bold;
}

.api-doc .error-list .code:after {
	content: ": ";
}

.flow {
	/*text-align: center;*/
}

/* ARROWS */
.arrow-n,
.arrow-e,
.arrow-s,
.arrow-w {
  /*
   * In Internet Explorer, The"border-style: dashed" will never be
   * rendered unless "(width * 5) >= border-width" is true.
   * Since "width" is set to "0", the "dashed-border" remains
   * invisible to the user, which renders the border just like how
   * "border-color: transparent" renders.
   */
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 25px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-n {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  border-bottom-color: #666;
  bottom: 0.25em;
}

.arrow-e {
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #666;
  left: 0.25em;
}
                    
.arrow-s {
  border-top-width: 1em;
  border-top-style: solid;
  border-top-color: #666;
  top: 0.25em;
}

.arrow-w {
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #666;
  right: 0.25em;
}


@media (min-width: 768px) { 
	.main-view > .logo {
		float: left;
	}

	.main-view > .content {
		margin-left: 150px;
	}

	.main-view > .content > h1 {
		font-size: 70px;
	}
}