body {
  background: #f7f7f7;
}

.sidemenu {
	float: right;
}

.navbar .time {
	padding: 10px 15px 10px;
	float: left;
	color: #999;
	font-size: 12px;
}

.top-push {
  height: 40px;
}

.full-size {
  position: fixed;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.error {
  text-align: center;
}

.error .icon {
  font-size: 150px;
  height: 200px;
  line-height: 200px;
}

.download {
  text-align: center;
}

.download .icon {
  width: 500px;
  height: 400px;
  margin: auto;
  background: url(/img/download-500px.png);
}

.download .icon:hover {
  background: url(/img/download-500px-hover.png);
}

.wait {
  text-align: center;
}

.wait .icon {
  width: 500px;
  height: 400px;
  margin: auto;
  background: url(/img/wait-500px.png);
}

.embedded {
  width: 100%;
  height: 100%;
}

.text-viewer {
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.audio-container {
  width: 100%;
  height: 100%;
  /*background: #000;*/
}

.audio-container .inner {
  position: relative;
  width: 512px;
  padding-top: 50px;
  height: 562px;
  margin: auto;
}

.audio-container #audio {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.audio-container .albumart {
  position: relative;
  background-size: contain;
  width: 512px;
  height: 512px;
}

.audio-container img {
  width: 100%;
}

.audio-container #fft {
  position: absolute;
  width: 500px;
  bottom: 6px;
  left: 6px;
}

pre {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
code {
  border: 0;
}

input[type="checkbox"] {
  float: none !important;
  padding: 0 !important;
  margin: -1px 0 0 0;
}

@media (max-width: 979px) {
  .navbar-fixed-top {
    position: relative !important;
  }

  .top-push {
    height: 0;
  }

  .full-size {
    top: 50px;
  }

  .sidemenu {
    float: none;
  }

  .wait .icon {
    width: 200px;
    height: 160px;
    background: url(/img/wait-200px.png);   
  }

  .download .icon {
    width: 200px;
    height: 160px;
    margin: auto;
    background: url(/img/download-200px.png);
  }

  .download .icon:hover {
    background: url(/img/download-200px-hover.png);
  }

  .audio-container #audio {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 512px) {
  .audio-container .inner {
    width: 100%;
  }
  
  .audio-container .albumart {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
  }
}