.slide {
	height:50vh;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.slide.main-slide {
	height:100vh;
	background: url(/img/bg1.jpg) no-repeat center center fixed;
}

.slide.main-slide .header {
	position: relative;
	width: 100%;
	height: 75px;
	background: rgba(0, 0, 0, 0.3);
}

.slide.main-slide .header .title {
	float: left;
	height: 75px;
	line-height: 75px;
	color: white;
	margin-left: 20px;
	font-size: 24px;
}

.slide.main-slide .header .menu > ul {
	list-style: none;
	float: right;
	margin-right: 20px;
}

.slide.main-slide .header .menu > ul > li {
	display: block;
	float: left;
	height: 75px;
}

.slide.main-slide .header .menu > ul > li > a {
	color: white;
	display: inline-block;
	margin-top: 17.5px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	min-width: 75px;
	text-align: center;
}

.slide.main-slide .header .menu > ul > li > a:hover {
	text-decoration: none;
	background: rgba(173, 216, 230, 0.2);
	border-radius: 5px;
}

@media (min-width: 767px) {
	.slide.main-slide {
		/*background: url(/img/bg1.jpg) no-repeat center center fixed;*/
	}

	.slide.main-slide .header .title {
		margin-left: 50px;
	}

	.slide.main-slide .menu > ul {
		margin-right: 50px;
	}
}